{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
<script type="text/javascript" src="{% static 'js/renderhelper.js' %}"></script>
<div id="chatWindowContainer" name="chatWindowContainer" class="chatwindow">
	<div id="conversationcontainer" name="conversationcontainer">
		<ul class="conversation" id="conversationlist">
			{% for item in conversation.chatmessages %}
			<li>{{ item.userid }}: {{ item.text }}</li>
			{% endfor %}
		</ul>
	</div>
	<div id="chattypebox" name="chattypebox" class="chattypebox">
		<script type="text/javascript">
			function onKeyPress(e) {
				if( (window.event ? event.keyCode : e.which) == 13) {
					$.ajax({
						url: "http://localhost:8000/sendmessage/",
						type: "post",
						data: {
							'userid':$('#userid').val(),
							'text': $('#chatinput').val(),
							'csrfmiddlewaretoken': '{{ csrf_token }}',
						},
						dataType: 'json',
						success: function(output) {
							renderMessages(output);
							clearTextArea();
						}
					});
				}
			}
		</script>
		<textarea rows="4" name="chatinput" onkeydown = "onKeyPress(event)" id="chatinput" class="chatinput">
		</textarea>
	</div>
	<div id="clearbuttondiv" class="clearbuttondiv">
		<button id="clearbutton" name="clearbutton" onclick="clearChat()">Clear</button>
	</div>
	<div id="refreshbuttondiv" class="refreshbuttondiv">
		<button id="refreshbutton" name="refreshbutton" onclick="refreshChat()">Refresh</button>
	</div>
</div>